// File: src/pages/Gallery.module.scss

.galleryPage {
  padding: 0 20px;
  background-color: #f4f4f4;
  font-family: 'Kanit', sans-serif; /* Using the default Kanit font */
}

.heroSection {
  background-color: #09a8d4; /* Accent color */
  color: white;
  padding: 60px 20px;
  text-align: center;
  margin-bottom: 40px;
}

.heroSection h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.heroSection p {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.gallerySection {
  padding: 40px 20px;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.galleryItem {
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
