// File: src/pages/ContactUs.module.scss

.contactUsPage {
  padding: 0 20px;
  background-color: #f4f4f4;
  font-family: 'Kanit', sans-serif;
}

.heroSection {
  background: linear-gradient(135deg, #09a8d4, #006fa6); /* Enhanced gradient */
  color: white;
  padding: 60px 20px;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 8px;
}

.heroSection h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.heroSection p {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.contactFormSection {
  background-color: #fffce8;
  padding: 40px 20px;
  margin-bottom: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
  }
}

.formContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.contactForm h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

.inputGroup label {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #666;
}

.inputGroup input,
.inputGroup select,
.inputGroup textarea {
  padding: 12px;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  background-color: #fffce8;

  &:focus {
    border-color: #09a8d4;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(9, 168, 212, 0.2);
  }
}

.submitButton {
  font-size: 1.2rem;
  color: white;
  background-color: #09a8d4;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #007bbd;
    transform: scale(1.05);
  }
}

.contactInfoSection {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center;
}

.contactInfoSection h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.infoItem {
  background-color: #fffce8;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.infoItem h3 {
  font-size: 1.8rem;
  color: #09a8d4;
  margin-bottom: 10px;
}

.infoItem p {
  font-size: 1.2rem;
  color: #666;
}
