// styles/globals.scss


/* Add more font-face definitions for other Kanit font weights and styles as needed */

body {
  font-family: 'Kanit', sans-serif; /* Set Kanit as the default font */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
